/* arrière plan des exemples de code */
pre {
    background-color: var(--md-code-bg-color);
}

/* éléments centrés */
.center {
    display: block;
    margin: auto;
}

/* couleurs des SVG inversées en mode sombre */
body[data-md-color-scheme^="slate"] img.autolight {
    -webkit-filter: invert(1);
    filter: invert(1);
}

/* la zone de dessin */
.zone_dessin {
    padding-top: 10px;
    padding-bottom: 10px;
    /* line-height: 50px; */
    border: solid 2px #555;
    text-align: center;
    font-weight: bold;
    color: #3d95d7
}